<!-- 500.html -->
{% extends 'base.html' %}

{% block title %}Server Error{% endblock %}

{% block page_title %}500 - Server Error{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="text-center">
        <h1 class="display-1">500</h1>
        <p class="fs-3"><span class="text-danger">Oops!</span> Something went wrong.</p>
        <p class="lead">We're experiencing some technical difficulties. Please try again later.</p>
        <a href="{{ url_for('home_page') }}" class="btn btn-primary">Go Home</a>
    </div>
</div>
{% endblock %}
